<%-include('partials/header') %>
    <div class="info">
      <h1>About <span>U</span>s</h1>
      <div class="info-hero">
        <img src="../images/about-img.svg" alt="car-img" width="350px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mi quam, tincidunt quis neque sed, consectetur viverra dolor. Curabitur congue condimentum consequat. Suspendisse tincidunt velit lacus. Nullam tortor erat, volutpat nec tristique vitae, interdum non turpis. Nulla rhoncus mauris vel lectus ultrices blandit. Morbi posuere vitae diam vitae congue. Sed nec sem vitae arcu lobortis consectetur at et leo. Etiam luctus lectus bibendum, euismod lorem sed, tempus nisl. Nam pulvinar placerat est faucibus iaculis. Etiam scelerisque a justo vel facilisis. <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mi quam, tincidunt quis neque sed, consectetur viverra dolor. Curabitur congue condimentum consequat. Suspendisse tincidunt velit lacus. Nullam tortor erat, volutpat nec tristique vitae, interdum non turpis. Nulla rhoncus mauris vel lectus ultrices blandit. Morbi posuere vitae diam vitae congue. Sed nec sem vitae arcu lobortis consectetur at et leo. Etiam luctus lectus bibendum, euismod lorem sed, tempus nisl. Nam pulvinar placerat est faucibus iaculis. Etiam scelerisque a justo vel facilisis.</p>
      </div>
      <div class="black"> </div>
      <img class="bg-img" src="../images/bg-img.png" alt="bg">
    </div>

<%-include('partials/footer') %>
