<%-include('partials/header') %>
    <div class="hero">
        <h1><span>Ne</span>w <span>Ca</span>r <span>Fe</span>el and Fi<span>Ni</span>sh.</h1>
        <h3>Car detailing and Car Wash</h3>
        <button>Book Now</button>
        <div class="black"> </div>
        <img class="bg-img" src="../images/bg-img.png" alt="bg">
    </div>

<%-include('partials/footer') %>
