<%-include('partials/header') %>
<div class="plans-main">


<h1>Choose Your Plans</h1>
    <div class="plan-section">

        <div class="offers-container">

          
                <h2>Express Wash</h2>
                <p>$24</p>
                <p>Duration</p>

                <ul>
                    <li>Soft Cloth Wash</li>
                    <li>Soft Cloth Wash</li>
                    <li>Soft Cloth Wash</li>
                   
                </ul>
        </div>
        <div class="offers-container">

          
                <h2>Express Wash</h2>
                <p>$24</p>
                <p>Duration</p>

                <ul>
                    <li>Soft Cloth Wash</li>
                    <li>Soft Cloth Wash</li>
                    <li>Soft Cloth Wash</li>
                   
                </ul>
        </div>
        <div class="offers-container">

          
                <h2>Express Wash</h2>
                <p>$24</p>
                <p>Duration</p>

                <ul>
                    <li>Soft Cloth Wash</li>
                    <li>Soft Cloth Wash</li>
                    <li>Soft Cloth Wash</li>
                   
                </ul>
        </div>
        <div class="offers-container">

          
                <h2>Express Wash</h2>
                <p>$24</p>
                <p>Duration</p>

                <ul >
                    <li>Soft Cloth Wash</li>
                    <li>Soft Cloth Wash</li>
                    <li>Soft Cloth Wash</li>
                   
                </ul>
        </div>
    </div>
</div>
<%-include('partials/footer') %>

