<%-include('partials/header') %>
<div class="services">
  <%-include('partials/plans') %>
  <div class="black"> </div>
  <img class="bg-img" src="../images/bg-img.svg" alt="bg">
</div>
<%-include('partials/footer') %>
