body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em 0em 2em;
  background-color: rgb(0, 0, 0);
  height: 12vh;
}

.navbar h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a li {
  padding: 0.5em;

}

.hero {

  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../images/bg-img.svg);
  background-repeat: no-repeat;
  background-size: cover;


}

.hero span {
  color: #1F6032;
}


.hero button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hero button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.hero button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* Plans.ejs css-------------------  */
.plans-main {
  text-align: center;
}

.plan-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.offers-container {
  background: #093009;
  height: 16em;
  width: 9em;
  border-radius: 1em;
  padding: 1em;
  margin: 0 1em;
}

.offers-container ul {
  font-size: 0.2em;
}

.offers-container ul {
  list-style-image: url('../images/green-tick.svg');

}

/* Plans.ejs css ends here -------------------  */