body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em 0em 2em;
  background-color: rgb(0, 0, 0);
  height: 12vh;
}

.navbar h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a li {
  padding: 0.5em;

}

span {
  color: #1F6032;
  font-family: 'Inter', sans-serif;
}

/* Home page */

.hero {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}
.hero  a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
} 

.bg-img {
  position: absolute;
  z-index: -2;
  width: 100vw;
}

.black {
  background-color: black;
  height:100%;
  width: 100vw;
  position: absolute;
  z-index: -1;
  opacity: 80%;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border: 0.2em solid white;
  background: none;
  color: white;
  border-radius: 0.3em;
  cursor: pointer;
  width: 8em;
  height: 3em;
}

.button:hover {
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e;
  -webkit-user-select: none;
}


/* services plans*/
.services {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}


.plan-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.offers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18em;
  width: 12em;
  border: 0.2em solid white;
  border-radius: 1em;
  padding: 1em;
  margin: 0 1em;
  text-align: center;
}

.offers-container:hover {
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e;
    -webkit-user-select: none;
}

.fa {
  padding: 0.3em;
}

.features {
  font-size: 0.9em;
}

.features p {
  padding: 0;
  margin: 0;
}

/*about */

.info {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0 em 5em 2em;
}

.info-hero {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
}

.info p {
  max-width: 40%;
}

/* login */

.login {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}
.login .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 26em;
  border: 0.2em solid white;
  border-radius: 0.3em;
  background:rgba(31, 96, 50, .4);
}

.login .form form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login .form .inputs {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form input {
  margin:  1em 0 1em 0;
  background: black;
  opacity: 80%;
  border: 0.2em solid white;
  color: white;
  height: 2em;
}

.form p {
  font-size: 0.8em;
}
.form a {
  text-decoration: none;
  color: #1F6032;
}
.form a:hover {
  text-decoration: underline;
  color: white;
}

/* register */
.register {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.register .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 30em;
  border: 0.2em solid white;
  border-radius: 0.3em;
  background:rgba(31, 96, 50, .4);
}

.register .form .inputs {
  margin: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.register button {
  margin: 2em;
}

/* Booking services  */

.booking {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;

}
.booking .form{
  height: 85vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 10px;
  border: 0.2em solid white;
  border-radius: 0.3em;
  background:rgba(31, 96, 50, .4);
margin: 100px;
}
.booking-form .inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.booking .form button{
  margin-bottom: 100px;
  float: left;
}
.booking .form h1{
  margin-top: 100px;

}